<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body class="bg-info">
    <div class="container">
      {% block title %}<p><h1>Create New Question</h1></p>{% endblock %}
      {% block content %}
      {% csrf_token %}
        Create Question
        <form method="post" action="/create/">
          {{form}}
          <button type="submit", name="save">Create New</button>
      {% endblock %}
    </div>
  </body>
</html>